
<div class="glass-card" style="background-image: url('<%= event.poster_image %>')">
<div class="layer"></div>
  <div class="glass-card-corners">
    <div class="card-image">
      <div class="card-container">
        <div class="card-header">
          <h1><%= event.title %></h1>
        </div>
      </div>
      <div class="card-content">
        <p><%= event.description %></p>
        <p><%= event.club.name %></p>
      </div>
      <div class="card-footer">
        <div class="footer-item calendar">
          <p><i class="fa fa-calendar"></i> <%= event.date %></p>
        </div>
        <div class="footer-item users">
          <p class="icon-button"> <i class="fa-regular fa-user"></i></p>
          <p><span class="number">123</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
