<div class="wrapper-form">
  <div class="simple-form">
    <div class="simple-form wrapper">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :title %>
        <%= f.input :date %>
        <%= f.input :address %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
