<div class="wrapper-form">
  <div class="simple-form">
    <div class="simple-form wrapper">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :title %>
        <%= f.input :date %>
          <div data-controller="address" data-action="map-loaded@window->address#initGoogle">
        <%= f.input :address, html: { autocomplete: 'off' }, input_html: { data: { address_target: 'input' } } %>
          </div>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
