<% if current_user == @event.user %>
  <%= link_to "Edit the event", edit_event_path(@event) %>
  <%= link_to 'Delete this event', @event, data: { turbo_method: :delete } %>
<% end %>

<%= link_to "Back to events", events_path %>

<div class="content">
  <div class="show-card-info">
    <img src="<%= @event.poster_image %>">
    <h6>Title:</h6>
    <p><%= @event.title %></p>
    <h6>Date:</h6>
    <p><%= @event.date %></p>
    <h6>Description:</h6>
    <p><%= @event.description %></p>
    <h6>Lineup:</h6>
    <% @lineup.each do |i| %>
      <p><%= i.artist.name %></p>
    <% end %>
    <div class="attending-button" data-controller="change-button" data-action="click->change-button#fire">
      <% if current_user %>
        <% if current_user.attending?(@event) %>
          <%= button_to "No longer attending", event_attendee_path(@event, current_user.attendee_for_event(@event)), method: :delete %>
        <% else %>
          <%= button_to "RSVP", event_attendees_path(@event), method: :post %>
        <% end %>
      <% else %>
        <%= link_to "Log in or Sign up to RSVP", new_user_session_path %>
      <% end %>
    </div>
  </div>
</div>
