<div>

<div class="show-grid mt-2">
  <div>
    <img class="img-show" style="border: <%= @img_show %>" src="<%= cl_image_path @event.photo.key %>">
      <div class="card-show mt-2" style="box-shadow: <%= @box_shadow %>">
        <div class="card-primary__corners" style="background: <%= @corner_card %>"></div>
        <p style="color: <%= @color %>"><%= @event.description %></p>
      </div>

  </div>
  <div class="show-info">
    <div class="card-primary" style="box-shadow: <%= @box_shadow %>">
      <div class="card-primary__corners" style="background: <%= @corner_card %>"></div>
      <h6 style="color: <%= @color %>">Lineup</h6>
      <% @lineup.each do |i|%>
        <p style="color: <%= @color %>"><%= i.artist.name %></p>
      <% end %>
    </div>

    <div class="card-primary mt-2" style="max-height: 130px; box-shadow: <%= @box_shadow %>">
      <div class="card-primary__corners" style="background: <%= @corner_card %>"></div>
      <h6 style="color: <%= @color %>">Location</h6>
        <% if @event.club %>
          <p style="color: <%= @color %>"><%= @event.club.name %></p>
        <% else %>
          <p style="color: <%= @color %>"><%= @event.address %></p>
        <% end %>
    </div>
    <div class="card-primary mt-2">
      <div class="card-primary__corners" style="max-height: 130px; box-shadow: <%= @box_shadow %>; background: <%= @corner_card %>"></div>
      <h6 style="color: <%= @color %>">Date</h6>
      <p style="color: <%= @color %>"><%= @event.date_formatted %></p>
    </div>
    <div class="card-primary mt-2" style="box-shadow: <%= @box_shadow %>">
      <div class="card-primary__corners" style="background: <%= @corner_card %>"></div>
      <h6 style="color: <%= @color %>">Attending</h6>
      <p style="color: <%= @color %>"> 137</p>
    </div>
    <div class="button-attend" style="box-shadow: <%= @box_shadow %>; background: <%= @button_attend %>">
      <div class="attending-button" data-controller="change-button" data-action="click->change-button#fire">
          <% if current_user %>
          <% if current_user.attending?(@event) %>
            <%= link_to "Cancel", event_attendee_path(@event, current_user.attendee_for_event(@event)), data: {turbo_method: :delete} %>

          <% else %>
            <%= link_to "Attend", event_attendees_path(@event), data: {
              turbo_method: :post,
              controller: "alert",
              alert_title_value: "See you at #{@event.title}!",
              alert_html_value: @event.date_formatted,
              alert_confirm_button_text_value: "<a href='#{event_posts_path(@event)}'>CHAT</a>",
              alert_show_cancel_button_value: true,
              alert_cancel_button_text_value: "<a href='#{events_path}'>MORE OPTIONS</a>",
              action: "click->alert#initSweetalert"
            } %>
          <% end %>
        <% else %>
          <%= link_to "Attend", new_user_session_path %>
        <% end %>
      </div>
  </div>
  </div>
</div>


  <div style="width: 96vw; height: 150px; margin-top: 10px; box-shadow: <%= @box_shadow %>; background: <%= @button_attend %>""
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="button-attend mb-10" style="box-shadow: <%= @box_shadow %>; background: <%= @button_attend %>">
    <%= link_to "Back to events", events_path %>
  </div>
</div>
