
<%# <div class="header-show"> %>
    <%if current_user == @event.user  %>
      <%= link_to "Edit the event", edit_event_path(@event) %>
      <%= link_to 'Delete this event', @event, data: {turbo_method: :delete}%>
<% end %>


<img class="img-show" src="<%= @event.poster_image %>">
<div class="card-primary mt-5">
  <div class="card-primary__corners"></div>
        <h6>Lineup:</h6>
        <% @lineup.each do |i|%>
          <p><%= i.artist.name %></p>
        <% end %>
      </div>
    <div class="card-primary mt-5">
      <div class="card-primary__corners"></div>
      <h6>Title:</h6>
       <p><%= @event.title %></p>
    </div>
  <div class="card-primary mt-5">
    <div class="card-primary__corners"></div>
      <h6>Date:</h6>
      <p><%= @event.date %></p>
    </div>
  <div class="card-primary mt-5">
    <div class="card-primary__corners"></div>
      <h6>Description:</h6>
      <p><%= @event.description %></p>
    </div>
  <div class="card-primary mt-5">
    <div class="card-primary__corners"></div>
      <%= link_to "Back to events", events_path %>
    </div>
  </div>







<div style="width: 300px; height: 300px"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>
        </div>
      </div>
  </div>
</div>
