  <div class="homepage-grid">
    <div class="dashboard-card">
      <h6>Your RSVP's:</h6>
      <div id="user_events">
        <ul>
          <% @user.attendees.each do |attendee| %>
            <li>
              <p><%= attendee.event.title %>, <%= attendee.event.date %>, <%= attendee.event.address %>, <img src="<%= attendee.event.poster_image %>"></p>
            </li>
            <%= link_to "TO THREADS", event_posts_path(attendee.event) %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
