

<div class="threads-card">
  <div class="threads-card-corners"></div>
    <div class="card-container">
      <div class="card-header">
        <h1 style="color: <%= @color %>"><%= post.title %></h1>
        <p><%= post.user.username %> </p>
      </div>
    </div>
    <div class="threads-card-content">
        <% if !post.comments.empty? %>
      <p class="text_overflow" style="font-size: 18px" > <%= post.comments.first.content%> </p>
    <% end %>
    </div>
    <div class="card-grid"></div>
      <div class="card-footer">
      <div class="card-footer-item" style="color: <%= @color %>"> <%= rand(1..10) %> comments</div>
      <div class="card-footer-item" style="color: <%= @color %>"> <%= link_to event_post_path(post.event, post) do %>
        <i class="fa-regular fa-paper-plane fa-lg" style="color: #ffffff;"></i></div>
        <%end%>
    </div>
  </div>
</div>
