<div id="post-<%= post.id %>">
  <small>
    <p> <strong> <%= post.user.username %> </strong></p>
    <p> // <%= post.title %> </p>
    <p> Topic: <%= post.topic %> </p>
    <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <% if !post.comments.empty? %>
    <p> <%= link_to "#{post.comments.first.content}", event_post_path(post.event, post)%> </p>
    <% end %>
</div>
