

  <div data-controller="posts-channel-subscription"
    data-posts-channel-subscription-event-id-value="<%=@event.id%>">

    <div class="post-primary mb-2">
      <div class="post-primary__corners"></div>
        <h1>Connect with others for <%= @event.title%></h1>
        <p>get ready to explore Berlin's electrifying nightlife like never before. Join the .dance community and start chatting with fellow music enthusiasts who are as passionate about the beat as you are. Let the rhythm guide you, and let the .dance experience begin!</p>
    </div>

    <%= simple_form_for(@post, url: event_posts_path) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="post-primary">
        <div class="post-primary__corners"></div>
          <%= f.input :title %>
          <%= f.input :topic, collection: %w[line vibe general social], select_html: {class: "dropdown-no-empty"} %>
          <%= f.simple_fields_for :comments do |m| %>
          <%= m.input :content, placeholder: "Your message", label: false %>
          <% end %>
        </div>
        <%= f.button :submit, class: "button-thread"%>
    <% end %>

    <div
      data-controller="posts-channel-subscription"
      data-posts-channel-subscription-event-id-value="<%=@event.id%>">
    <div >
      <div data-posts-channel-subscription-target="posts">
        <% if @posts.any? %>
          <% @posts.each do |post| %>
                <%= render "posts/post", post: post %>
            </div>
          <% end %>
        <% else %>
          <em>No threads yet..</em>
        <% end %>
      </div>
    </div>
