<div class="body-test">

  <div data-controller="posts-channel-subscription"
    data-posts-channel-subscription-event-id-value="<%=@event.id%>">

    <div class="card-primary mb-2">
      <div class="card-primary__corners"></div>
        <h1>Threads</h1>
        <h6>#<%= @event.title%></h6>
    </div>

    <%= simple_form_for(@post, url: event_posts_path) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="card-primary">
        <div class="card-primary__corners"></div>
          <%= f.input :title %>
          <%= f.input :topic, collection: %w[line vibe general social], select_html: {class: "dropdown-no-empty"} %>
          <%= f.simple_fields_for :comments do |m| %>
          <%= m.input :content, placeholder: "Your message", label: false %>
          <% end %>
        </div>
        <%= f.button :submit, class: "button-primary-form"%>
    <% end %>

    <div class="container posts"
      data-controller="posts-channel-subscription"
      data-posts-channel-subscription-event-id-value="<%=@event.id%>"
    >

    <div class="container">
      <div class="index-grid" data-posts-channel-subscription-target="posts">
        <% if @posts.any? %>
          <% @posts.each do |post| %>
            <div class="my-5">
                <%= render "posts/post", post: post %>
            </div>
          <% end %>
        <% else %>
          <em>No threads yet..</em>
        <% end %>
      </div>
    </div>
  </div>
</div>
