<div class="header" >
  <h1>Threads</h1>
</div>


<div data-controller="toggle">
  <button class="btn btn-outline-primary" data-action="click->toggle">Post a thread</button>
  <div class="body-test">
    <%= simple_form_for(@post, url: event_posts_path) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :topic, collection: %w[line vibe general social] %>
        <%= f.simple_fields_for :comments do |m| %>
          <%= m.input :content %>
        <% end %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary mt-2"%>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="index-grid">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="my-5">
          <p> <%= post.user.username %> </p>
          <p> About: <%= post.title %> </p>
          <p> Topic: <%= post.topic %> </p>
          <p> <%= "Comment: #{post.comments.first.content}" if !post.comments.empty? %> </p>
        </div>
      <% end %>
    <% else %>
      <em>No threads yet..</em>
    <% end %>
  </div>
