<div class="header" >
  <h1>Threads</h1>
</div>

<button class="btn btn-outline-primary">Post a thread</button>
<div class="body-test">
<%= simple_form_for(@post, url: event_posts_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :topic, collection: %w[line vibe general social] %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary mt-2"%>
  </div>
<% end %>
</div>

<div class="container">
  <div class="index-grid">
    <% if @posts.any? %>
      <% @posts.each do |post| %>
        <p> <%= post.user.username %> </p>
        <p> About: <%= post.title %> </p>
        <p> Topic: <%= post.topic %> </p>
      <% end %>
    <% else %>
      <em>No threads yet..</em>
    <% end %>
  </div>
