<div class="container post"
    data-controller="post-subscription"
    data-post-subscription-post-id-value="<%= @post.id %>"
>
  <h1>#<%= @post.title %></h1>

  <div class="comments" data-post-subscription-target="comments">
    <% @post.comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>

<%= simple_form_for [@post, @comment],
  html: { data: { action: "turbo:submit-end->post-subscription#resetForm" }, class: "d-flex" } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Comment ##{@post.title}",
    wrapper_html: {class: "flex-grow-1 mb-0", id: "post_comment"},
    input_html: {class: "h-100"}
  %>
  <%= f.submit "send", class: "button-send" %>
<% end %>

</div>
