<div
    data-controller="post-subscription"
    data-post-subscription-post-id-value="<%= @post.id %>">
  <div class="card-search">
 <h1 style="text-decoration: underline; font-size: 24"> Original post </h1>
  <h1><%= @post.title %></h1>


  <div class="comments" data-post-subscription-target="comments">
    <% @post.comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  </div>

<h1 style="font-family: 'Poppins', sans-serif; text-transform: uppercase;font-family: 'Poppins', sans-serif;text-transform: uppercase;font-size: 20px;font-weight: bolder;padding: 5px 0px;">Join the discusssion</h1>
  <%= simple_form_for [@post, @comment],
    html: { data: { action: "turbo:submit-end->post-subscription#resetForm" }, } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Comment ##{@post.title}",
      wrapper_html: {class: "flex-grow-1 mb-0", id: "post_comment"},
      input_html: {class: "h-100"}
    %>
      <%= f.submit "send", class: "button-thread" %>
    <% end %>
    </div>
  </div>
</div>
