<div
    data-controller="post-subscription"
    data-post-subscription-post-id-value="<%= @post.id %>">

  <div class="comments-card" style="border: 1px solid white; padding: 10px">

    <h1 style="color:white"><%= @post.title %></h1>
    <p>comment created by<%= @first_comment.user.username %> on <%= @post.created_at.strftime("%a %b %e at %l:%M %p") %></p>
    <p style="color:white;font-size: 18px;font-family: 'Anonymous Pro';font-weight: bolder"><%= @first_comment.content if !@post.comments.empty?%></p>
    </div>
    <h1 style="font-family: 'Poppins', sans-serif; text-transform: uppercase; padding: 2vh 0vh 0.5vh 0vh;">Reply to <%= @first_comment.user.username %></h1>
    <%= simple_form_for [@post, @comment],
      html: { data: { action: "turbo:submit-end->post-subscription#resetForm" }, } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Comment ##{@post.title}",
        wrapper_html: {class: "flex-grow-1 mb-0", id: "post_comment"},
        input_html: {class: "h-100"}
      %>
      <%= f.submit "send", class: "button-thread" %>
    <% end %>
  <div class="comments" data-post-subscription-target="comments">
    <% if !@post.comments.empty? %>
      <% @rest_comments.each do |comment| %>
        <%= render "comments/comment", comment: comment %>
      <% end %>
    <% end %>
  </div>
</div>
