<!DOCTYPE html>
<html>
  <head>
    <title>DotDance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Poppins:wght@100;300&family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= cookies[:theme] %>">
    <%= render "shared/header" %>
    <div class="mt-5">
      <%= link_to 'light', set_theme_path(theme: 'light') %>
      <%= link_to 'dark', set_theme_path(theme: 'dark') %>
    </div>
    <div class="body-test">
      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
