<!DOCTYPE html>
<html>
  <head>
    <title>DotDance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script>

  </head>

  <body class="<%= cookies[:theme] %>">
  <div class="header-show">
      <% if cookies[:theme] == "light" %>
        <%= link_to 'dark', set_theme_path(theme: 'dark') %>
      <% else %>
        <%= link_to 'light', set_theme_path(theme: 'light') %>
      <% end %>
    <h1 style="color:red; flex: 1;text-align: center; margin-top: 7px;"><%=link_to ".DANCE", events_path%></h1>
  <%= link_to dashboard_path do %><i class="fa-regular fa-user"  style="text-align: left;"></i>
  <% end %>
    </div>
    <h1 class="display-1">We are currently in <%= cookies[:theme] %> mode </h1>
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
